<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DELETE user</title>
</head>
<body>
    <h2>Delete Account</h2>
    <p>Email: <%= user.email %></p>

    <form action="/user/<%= user.id %>?_method=DELETE" method="POST">

        <input type="email" name="email" placeholder="Confirm Email"required>
        <input type="password" name="password" placeholder="Confirm Password" required>
        <button>Delete Account</button>
        
    </form>



    
</body>
</html>