<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>The total number of users are : <%=count%> </h1>
    <a style="height: 70px; width: 150px;" href="/user/new">Join Now</a>
    <br><br>
    <a href="/user">View all Users</a>
    
</body>
</html>